@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #d81159;
    --primary-bgcolor: rgba(216, 17, 89, 0.1);
    --shadow-gray: #9CA3AF;
    --green: #8ac926;
    --gren-bg: rgba(138, 201, 38, 0.1);
    --yellow: #ffca3a;
    --yellow-bg: rgba(255, 202, 58, 0.1);
    --red: #ff595e;
    --red-bg: rgba(255, 89, 94, 0.1);
    
    --primary-radius: 0.2rem;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}
.nav {
    padding: 0.5rem 1rem;
    background-color: var(--primary-color); 
    color: white;
    box-shadow: 0px 0.5rem 0.5rem var(--shadow-gray);
    display: flex;
    justify-content: space-between;
}

.nav-right {
    width: 30%;
    max-width: 300px;
}

.nav-menu {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-around;
    list-style-type: none;
}

.avatar-container {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    max-width: 500px;
}

.avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.avatar-badge {
    position: relative;
}

.avatar-badge .badge{
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;  
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}

.badge-online{
    background-color: var(--green);
}
.badge-away{
    background-color: var(--yellow);
}
.badge-offline{
    background-color: var(--red);
}

.btn-container {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: var(--primary-radius);
    font-size: 1.5rem;
    border: none;
}

.btn:hover {
    box-shadow: 0.25rem 0.25rem 0.5rem var(--shadow-gray);
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}

.btn-icon {
    padding: 0rem 0.5rem;
    background-color: var(--primary-bgcolor );
    color: var(--primary-color);
}

.btn-success {
    background-color: var(--green);
    color: white;
}
.btn-warning {
    background-color: var(--yellow);
    color: white;
}

.btn-alert {
    background-color: var(--red);
    color: white;
}