@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary-color: #d81159;
    --primary-bgcolor: rgba(216, 17, 89, 0.1);
    --shadow-gray: #9CA3AF;
    --green: #8ac926;
    --green-bg: rgba(138, 201, 38, 0.1);
    --yellow: #ffca3a;
    --yellow-bg: rgba(255, 202, 58, 0.1);
    --red: #ff595e;
    --red-bg: rgba(255, 89, 94, 0.1);
    --blue: #1982c4;
    --blue-bg: rgba(25, 130, 196, 0.1);
    --gray: #4B5563;
    --dark-gray: #1F2937;
   
    --primary-radius: 0.2rem;

}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

/* HOME */
.background{
    height: 90%;
    width: 100%;
    overflow-y: hidden;
}

/* INDEX */

.canvas{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6rem 1fr;
    grid-template-areas:
        "nav nav nav nav nav"
        "sidebar main main main main";
    grid-gap: 0.2rem;
}

.logo {
    display: flex;
}

.logo h1 {
    margin-bottom: 1.5rem;
}

.heading {
    font-size: 2.5rem;
    width: 100%;
    position: sticky;
    top: 11vh;
    background: white;
    padding: 1rem 0;
    margin: 1rem;
    z-index: 998;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
} */

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.code-block {
    margin: 1rem;
    max-width: 100vw;
}

/* INSTALLING */

.primary-color {
    color: var(--primary-color);
}

/* NAVBAR */

.nav {
    grid-area: nav;
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color); 
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 999;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0, 0.2);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    width: max-content;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    list-style-type: none;
    font-size: 1.25rem;
}

.nav-menu a {
        text-decoration: none;
        color: white;
}

.nav-menu li {
    margin-right: 1rem;
}
.nav-menu a:hover{
    font-weight: bold;
    text-decoration: underline;
}

/* SIDEBAR */

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-menu {
    position: sticky;
    top: 15vh;
    list-style-type:none;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2rem 0;

    border-right: 0.25rem solid var(--primary-bgcolor);
}

.sidebar-menu li {
    padding: 0.5rem;
}

.sidebar-menu a {
    text-decoration: none;
    color: var(--gray);  
}

.sidebar-menu a:hover {
    color: var(--primary-color);
}

.socials-menu {
    width: 15%;
    height: 60px;
    position: fixed;
    bottom: 5%;
    background-color: white;

    display: flex;
    justify-content: space-around;
    align-self: center;
}

.icon-social{
    height: 2rem;
    width: 2rem;
    transition: 300ms ease-in-out;
    opacity: 0.7;
}

.icon-social:hover {
    height: 3rem;
    width: 3rem;
    opacity: 1;
}

.version {
    color: var(--shadow-gray);
    font-size: 1.5rem;
    position: fixed;
    bottom: 2%;
    display: flex;
    align-self: center;
}

/* CONTAINER */

.main-container {
    grid-area: main;
    padding: 1rem;
    color: var(--gray);
}

.container {
    padding: 1rem 2rem;
}

/* AVATAR */

.avatar-container {
    max-width: 500px;
}

.avatar{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.avatar-small {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.avatar-large {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.avatar-badge {
    position: relative;
}

.avatar-badge .badge{
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;  
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.2rem solid white;
}

.badge-online{
    background-color: var(--green);
}
.badge-away{
    background-color: var(--yellow);
}
.badge-offline{
    background-color: var(--red);
}

/* ALERTS */

.alert {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: var(--primary-radius);
    width: max-content;
    margin: 0.5rem;
}

.alert-primary {
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}


.alert-info {
    background-color: var(--blue-bg);
    color: var(--blue);
}

.alert-success {
    background-color: var(--green-bg);
    color: var(--green);
}

.alert-warning {
    background-color: var(--yellow-bg);
    color: var(--yellow);
}

.alert-error {
    background-color: var(--red-bg);
    color: var(--red);
}

/* BUTTON */

.btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: var(--primary-radius);
    margin: 0.5rem;
    transition: 100ms ease;
}

.btn:hover {
    box-shadow: 0.25rem 0.25rem 1.5rem var(--shadow-gray);
}

.btn:active {
    transform: translateY(4px);
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--primary-bgcolor);
    color: var(--primary-color);
}

.btn-tertiary {
    border: 0.2rem solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
}

.img-icon {
    height: 1.5rem;
    width: 2rem;
}

.btn-success {
    background-color: var(--green);
    color: white;
}
.btn-warning {
    background-color: var(--yellow);
    color: white;
}

.btn-error {
    background-color: var(--red);
    color: white;
}

.btn-info {
    background-color: var(--blue);
    color: white;
}

/* CARD */

.card {
    text-align: left;
    height: 30rem;
    width:15vw;  
    display: flex;
    flex-direction: column;
    margin: 1rem;
    position: relative;
    
}

.card-horizontal {
    
    height: 20vh;
    width: 30rem;  
    display: flex;
    flex-direction: row;
    margin: 1rem;
    position: relative;
}

.card-horizontal-content {
    border-radius: 0 0 var(--primary-radius) var(--primary-radius);
    border: 2px solid var(--primary-bgcolor);
    border-left: none;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card-wishlist {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.card-img {
    height: auto;
    width: 100%;
    border-radius: var(--primary-radius) var(--primary-radius) 0 0; 
}
.card-horizontal-img {
    height: 100%;
    width: auto;
    border-radius: var(--primary-radius) 0 0 var(--primary-radius); 
}

.card-content {
    border-radius: 0 0 var(--primary-radius) var(--primary-radius);
    border: 2px solid var(--primary-bgcolor);
    border-top: none;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.card-content button {
    font-size: 1rem;
}

.card-heading {
    margin: 0;
}

.card-price {
    font-size: 1.5rem;
    color: var(--dark-gray);
}

/* DEFINATION */

.defination-border {
    border: 0.5rem dashed var(--shadow-gray);
    padding: 1rem;
    margin: 1rem 0;
    width: max-content;
}

.defination-word {
    font-size: 5rem;
    color: var(--gray);
    margin: 1rem 0;
    font-weight: bold;
}
.defination-pronounciation {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--primary-color);
}
.defination-meaning {
    font-size: 2.5rem;
    color: var(--gray);
    margin: 1rem 0;
}

.defination-sub-meaning {
    font-size: 1.5rem;
    color: var(--shadow-gray);
    margin: 1rem 0;
}

.defination-example {
    font-size: 1.5rem;
    color: var(--gray);
}

/* FORM */

.form{
    margin: auto;
    height: auto;
    width: max-content;
    border: 0.25rem solid var(--primary-color);
    border-radius: var(--primary-radius);
}

.form-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper input {
    margin: 0.25rem;
    padding: 0.25rem;
    font-size: 1.25rem;
    border: 2px solid var(--primary-bgcolor);
    transition: 200ms ease;
}

.form-wrapper input:hover{
    background-color: var(--primary-bgcolor);
}

.form-wrapper button {
    margin: 1rem;
}

.form-wrapper span {
    color: var(--primary-color);
    font-weight: bold;
}

/* IMAGE */

.img-responsive {
    width: 30vw;
    height: auto;
}

.img-rounded {
    width: 30vw;
    border-radius: 50%;
}

/* LIST */

.list, .list-horizontal {
    border: .25rem solid var(--primary-color);
    border-radius: var(--primary-radius);
    width: max-content;
    padding: 1rem;
}

.list li {
    padding: 0.5rem;
    color: var(--gray);  
    list-style-type:none;
    font-size: 1.5rem;
}

.list li:hover {
    color: var(--primary-color);
}

.list-horizontal {
    display: flex;
}

.list-horizontal li {
    padding: 0.5rem;
    text-decoration: none;
    color: var(--gray);  
    list-style-type:none;
    font-size: 1.5rem;
}

.list-horizontal li:hover {
    color: var(--primary-color);
}
/* MODAL */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease;
}

.modal-bg-active {
    visibility: visible;
    opacity: 1;
}

.modal{
    position: relative;
    background-color: white;
    width: 50%;
    height: 30%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--primary-radius);
}

.modal-description {
    padding: 0 1rem;
    font-size: 1.25rem;
}

.modal-close {
    padding: 0.1rem 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal span:hover {
    background-color: var(--primary-bgcolor);
}

/* NAVIGATION */

.navbar {
    padding: 0.5rem 0.5rem;
    background-color: var(--primary-color); 
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    color: white;  
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
}

/* TOAST */

.toast{
    padding: 1rem;
    font-size: 1.5rem;
    border: 0.25rem solid var(--primary-bgcolor);
    border-radius: 0.4rem 0 0 0.4rem;
    width: max-content;
    visibility: hidden;
    position: fixed;
    top: 10rem;
    right: -25rem;
    z-index: 999;
    transition: 500ms cubic-bezier(.68,-0.55,.27,1.55);
}

.toast-active{
    visibility: visible;
    right: 5vw;
}

.toast-success {
    background-color: var(--green-bg);
    color: var(--green);
    border: 0.25rem solid var(--green);
}

.toast-warning {
    background-color: var(--yellow-bg);
    color: var(--yellow);
    border: 0.25rem solid var(--yellow);
}
.toast-error {
    background-color: var(--red-bg);
    color: var(--red);
    border: 0.25rem solid var(--red);
}
.toast-info {
    background-color: var(--blue-bg);
    color: var(--blue);
    border: 0.25rem solid var(--blue);
}

@media screen and (max-width: 800px) {
    :root{
        font-size: 12px;
    }

    .canvas{
        grid-template-columns: 100vw;
        grid-template-rows: 10rem 1fr;
        grid-template-areas:
            "nav"
            "main";
    }
    .sidebar {
        display: none;
    }

    .nav{
        position: fixed;
        /* justify-content: center; */
    }

    .nav-right {
        display: none;
    }

    .card {
        width: auto;
        max-width: 300px;
    } 

    .modal{
        height: 20%;
    }
}